<template>
  <crud-form
    section="admin"
    url="roles"
    created="Rol creado exitosamente"
    edited="Rol actualizado correctamente"
    :model="model"
    @on-load="load"
  >
    <div class="row">
      <div class="col">
        <label class="form-control-label">Nombre</label>
        <base-input
          v-model="model.name"
          v-validate="$route.params.id === undefined ? validations.name : {required: true}"
          name="nombre"
          :error="errors.first('nombre')"
          placeholder="Nombre del rol"
        />
        <label class="form-control-label">Descripcion</label>
        <base-input
          v-model="model.description"
          v-validate="validations.description"
          name="descripcion"
          :error="errors.first('descripcion')"
          placeholder="Descripcion del rol"
        />
        <credentials
          label="Credenciales"
          :data.sync="model.credentials"
        />
      </div>
    </div>
  </crud-form>
</template>

<script>
import Credentials from '@/components/Credentials'

export default {
  components: {
    Credentials
  },
  data() {
    return {
      model: {
        name: '',
        description: '',
        credentials: []
      },
      validations: {
        name: {
          required: true,
          unique: {
            table: 'roles',
            prop: 'name'
          },
          regex: '^\\w[a-z]+( \\w[a-z]+)*$',
          max: 100
        },
        description: {
          required: true,
          max: 100
        }
      }
    }
  },
  methods: {
    load(data) {
      this.model.name = data.name
      this.model.description = data.description
      this.model.credentials = data.credentials
    }
  }
}
</script>

<style scoped>

</style>
