<template>
    <div>
        <crud-list
            ref="list"
            url="roles"
            :columns="columns"
            :hide-delete="true"
            :hide-edit="true"
            :search="['name']">
            <template slot="actions" slot-scope="scope" v-if="scope.row.id > 6">
                <el-tooltip class="item" effect="dark" content="Editar" placement="top"
                            v-render:credentials="[`roles.update`]">
                    <router-link :to="`roles/${scope.row.id}/edit`" class="btn btn-success btn-sm"><i class="el-icon-edit"></i></router-link>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" content="Eliminar" placement="top"
                            v-render:credentials="['roles.destroy']">
                    <button @click.prevent="handleDelete(scope.row)" class="btn btn-danger btn-sm"><i class="el-icon-delete"></i></button>
                </el-tooltip>
            </template>
        </crud-list>
        <el-dialog title="Transferir y Eliminar"
                   center
                   :visible.sync="visible">
            <div class="row">
                <div class="col">
                    <p><strong>¿Esta seguro que desea eliminar el rol {{ current.name }}? <br>(Se transferiran todos los usuarios al rol seleccionado)</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Roles:</label>
                        <el-select placeholder="Seleccione un Rol"
                                   style="width: 100%"
                                   v-model="role">
                            <el-option v-for="it in roles"
                                       :key="it.id"
                                       :label="it.name"
                                       :value="it.id"/>
                        </el-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button :disabled="role == null" v-promise-btn @click.prevent="transfer" class="btn btn-danger">Transferir y Eliminar</button>
                </div>
            </div>
        </el-dialog>
    </div>
</template>

<script>
export default {
  data() {
    return {
      visible: false,
      role: null,
      roles: [],
      current: {},
      columns: [
        {
          label: 'Nombre',
          prop: 'name'
        },
        {
          label: 'Fecha Creacion',
          prop: 'created_at'
        }
      ]
    }
  },
  methods: {
    handleDelete(row) {
      this.current = row
      this.visible = true
    },
    transfer() {
      return axios.post(api(`roles/${this.current.id}`), {
        role_id: this.role
      }).then(response => {
        this.$refs.list.loadTable()
        this.visible = false
      }).catch(error => {
        this.visible = false
        swal('Error', JSON.stringify(error.response.data), 'error')
      })
    }
  },
  created() {
    axios.get(api('roles'))
      .then(response => this.roles = response.data)
  }
}
</script>

<style scoped>

</style>
