<template>
  <div>
    <base-form>
      <template slot="header">
        <div class="row">
          <div class="col-md-12">
            <button @click="$router.go(-1)" class="btn btn-primary btn-sm"><i class="ni ni-bold-left"></i></button>
          </div>
        </div>
      </template>
      <template slot="body">
        <div class="row">
          <div class="col-md-12">
            <div><label class="form-control-label">Nombre:</label> {{ name }}</div>
            <div><label class="form-control-label">Descripcion:</label> {{ description }}</div>
            <div>
              <label class="form-control-label">Credenciales</label>
              <json-viewer :value="credentials" />
            </div>
          </div>
        </div>
      </template>
    </base-form>
  </div>
</template>

<script>
import JsonViewer from 'vue-json-viewer'

export default {
  components: {
    JsonViewer
  },
  data() {
    return {
      name: '',
      description: '',
      credentials: []
    }
  },
  created() {
    axios.get(api(`roles/${this.$route.params.id}?group=true`))
      .then(response => {
        this.name = response.data.name
        this.description = response.data.description

        this.credentials = response.data.credentials
      })
  }
}
</script>

<style scoped>

</style>
