<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                    <h3>Seccion de Ratificacion</h3>
                </div>
                <div class="col-md-6 text-right">
                <button class="btn btn-primary btn-sm" @click='enviar'>Registrar</button>
                </div>
            </div>
        </template>
        <template slot="body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class='form-control-label' name='' >Asociaciones: </label>
                    <el-select v-model='model.association_id' style='width:100%' placeholder='Seleccione la asociacion...' disabled="true">
                    <el-option v-for='asociacion in asociaciones'
                    :key='asociacion.id'
                    :label='asociacion.name'
                    :value='asociacion.id'
                  />

                </el-select>
                </div>
            </div>
        </div>
       
        <input id="files" name="documento" type="file" accept=".jpeg,.jpg,.bmp,.pdf,.doc,.docx,.odt,.xls,.xlsx,.ods,.ppt,.pptx,.rar" @change="selectFile">    
       
        </template>
    </base-form>
</template>

<script>


export default {
    methods:{
      enviar(e){
          e.preventDefault();
          let currentObj = this;

          const config = { headers: { 'Content-Type': 'multipart/form-data' } };

          let formData = new FormData();
          formData.append('documento', this.documento);
          formData.append('association_id', this.model.association_id);
          formData.append('status_id', this.model.status_id)
          formData.append("_method", "put");
             for (var pair of formData.entries())
{
 console.log(pair[0]+ ', '+ pair[1]); 
}

        axios.post(api('ratificar/'+this.$route.params.id), formData, config)
          .then(response => {
              swal('Ratificacion Actualizada',response.data.alerta,'success')
              .then(response => {
                    this.$router.push({path: '/ratificar/index'})
                })

          })
      },
    selectFile(e){
          this.documento = e.target.files[0];
      }
    },
    data(){
        return {
             model:{
                association_id: '',
                observation: '',
                documento: '',
                status_id: ''
            },
           
           
            asociaciones: [],
            amount: '',
            association_id: '',
            observation: ''            
        }
    },

    created(){
         axios.get(api("asociacion"))
            .then(response => {
                this.asociaciones = response.data
            })


        axios.get(api("ratificar/"+this.$route.params.id))
            .then(response => {
               this.model.association_id = response.data.association_id
               this.model.status_id = response.data.status_id
            })
    }
}
</script>