<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                    <h3>Ratificar Fondos</h3>
                </div>
                <div class="col-md-6 text-right">
                <button class="btn btn-primary btn-sm" @click='enviar'>Registrar</button>
                </div>
            </div>
        </template>
        <template slot="body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class='form-control-label' name='' >Asociaciones: </label>
                    <el-select v-model='model.association_id' style='width:100%' placeholder='Seleccione la asociacion...'>
                    <el-option v-for='asociacion in asociaciones'
                    :key='asociacion.id'
                    :label='asociacion.name'
                    :value='asociacion.id'
                  />

                </el-select>
                </div>
            </div>
         </div>       
          <input id="files" name="documento" type="file" accept=".jpeg,.jpg,.bmp,.pdf,.doc,.docx,.odt,.xls,.xlsx,.ods,.ppt,.pptx,.rar" @change="selectFile">    
          

            <div class="form-group">
                    <input class="form-control" type="hidden" v-model="model.status_id">
                </div>
        </template>
    </base-form>
</template>

<script>


export default {
    methods:{
      enviar(e){
          e.preventDefault();
          let currentObj = this;

          const config = { headers: { 'Content-Type': 'multipart/form-data' } };

          let formData = new FormData();
          formData.append('documento', this.documento);
          formData.append('association_id', this.model.association_id);

          

        axios.post(api('ratificar'), formData, config)
           
          .then(response => {
              
              swal('Ratificacion Enviada',response.data.alerta,'success')
             .then(response => {
                    this.$router.push({path: '../'})
                })

          })
      },
      selectFile(e){
          this.documento = e.target.files[0];
      }

    },
    data(){
        return {
             model:{
                association_id: '',
                documento: ''
            },
            
           
            asociaciones: []
                       
        }
    },

    created(){
        axios.get(api("asociacion"))
            .then(response => {
                this.asociaciones = response.data

            })
    }
}
</script>