<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Detalles Ratificacion</h3>
                </div>
            </div>
        </template>
         <template slot="body">
        <div class="row">
            <div class="col">
                <div><label class="form-control-label">Asociacion:</label> {{ association_id }}</div>
                <div><label class="form-control-label">Usuario:</label> {{ user_id }}</div>
                <div><label class="form-control-label">Estado:</label> {{ status_id }}</div>
                <div><label class="form-control-label">Creado:</label> {{ created_at }}</div>
                <div><label class="form-control-label">Actualizado:</label> {{ updated_at }}</div>
                <div><label class="form-control-label">Archivos: </label></div>
                <a class="btn btn-primary btn-sm" :href="aapi('ratificar/'+file)">Descargar</a>                
            </div>
        </div>
            
        </template>
    </base-form>
</template>

<script>

export default {
    methods:{
       aapi(url){
      return api(url)
    }
  
    },
  data() {
    return {
      association_id: '',
      status_id: '',
      user_id: '',
      created_at: '',
      archivo: [],
      updated_at: '',
      file:''

    }
  },
  created() {
    axios.get(api("ratificar/"+this.$route.params.id))
      .then(response => {
        this.association_id = response.data.association.name  
        this.user_id = response.data.user.name
        this.status_id = response.data.status.name
        this.created_at = response.data.created_at
        this.updated_at = response.data.updated_at
        this.file = response.data.path
      })
  }
}
</script>