<template>
    <base-nav class="navbar-top navbar-dark"
              id="navbar-main"
              :show-toggle-button="false"
              expand>
        <div class="mr-3 d-none d-md-flex ml-lg-auto">
        </div>
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
                <base-dropdown class="nav-link pr-0">
                    <div class="media align-items-center" slot="title">
                        <span class="avatar avatar-sm rounded-circle">
                          <i class="ni ni-circle-08"></i>
                        </span>
                        <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold">{{ name }}</span>
                        </div>
                    </div>

                    <template>
                        <a href="javascript:void(0)" @click="logout" class="dropdown-item"><i class="ni ni-button-power"></i><span>Cerrar Sesion</span></a>
                    </template>
                </base-dropdown>
            </li>
        </ul>
    </base-nav>
</template>
<script>
  export default {
    data() {
      return {
        activeNotifications: false,
        showMenu: false,
        searchQuery: '',
        name: ''
      };
    },
    methods: {
      logout() {
        axios.post(api('auth/logout'))
          .then(response => {
            document.cookie = ''

            this.$router.push({path: '/login'})
          })
      },
      toggleSidebar() {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
      },
      hideSidebar() {
        this.$sidebar.displaySidebar(false);
      },
      toggleMenu() {
        this.showMenu = !this.showMenu;
      }
    },
    created() {
      axios.get(api('auth/user'))
        .then(response => {
          this.name = response.data.name
        })
    }
  };
</script>
