<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Editar Denuncia</h3>
                </div>
                <div class="col-md-6 text-right">
                <button class="btn btn-primary btn-sm" @click='enviar'>Actualizar</button>
                </div>
            </div>
        </template>
        <template slot='body'>
          <div class='row'>
            <div class='col'>
                <div class='form-group'>
                  <label class='form-control-label'>Asociacion: </label>
                  <input class="form-control" type="text" v-model='model.name' readonly>
                </div>

            </div>
          </div>  
          <div class='row'>
            <div class='col'>
                <div class='form-group'>
                  <label class='form-control-label' name=''>Descripción: </label>
                  <textarea v-model='model.observation' class='form-control' rows="10" cols="50" placeholder='Escribir denuncia aqui'></textarea>
                </div>
            </div>
          </div>
          <div class='row'>
            <div class='col'>
              <div class='form-group'>
                <label class='form-control-label'>Archivo: </label>
                <input id="files"
                 name="documento"
                 type="file"
                 accept=".jpeg,.jpg,.bmp,.pdf,.doc,.docx,.odt,.xls,.xlsx,.ods,.ppt,.pptx,.rar"
                 @change="selectFile">
              </div>
            </div>
          </div>
      </template>
    </base-form>
</template>

<script>
export default {
  methods:{
      selectFile(e){
        this.documento = e.target.files[0];
      },
      enviar(e){
        e.preventDefault();
        let currentObj = this;

        const config = { headers: { 'Content-Type': 'multipart/form-data' } };

        let formData = new FormData();
        formData.append('documento', this.documento);
        formData.append('association_id', this.model.association_id);
        formData.append('observation', this.model.observation);
        formData.append("_method", "put");

        if(this.model.association_id == '')
        {
          swal('Resultado','Debe seleccionar la asociación','warning')
          return
        }
        if(this.model.observation == '')
        {
          swal('Resultado','Debe ingresar la descripción','warning')
          return
        }
        axios.post(api("denuncias/"+this.$route.params.ide), formData ,config)
          .then(response => {
              swal('Resultado',response.data.alerta,'success')
                .then(response => {
                    this.$router.push({path: '/denuncias/index'})
                })
          })
      }

    },
    data(){
        return {
            model: {
                association_id:'',
                observation: '',
                name:''
            }   
        }
        
    },

    created() {
    axios.get(api("denuncias/"+this.$route.params.ide))
      .then(response => {
        this.model.association_id = response.data.association_id
        this.model.observation = response.data.observation
        this.model.name = response.data.association.name
      })
  }
}
</script>
