<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Sección denuncias | Denuncias realizadas</h3>
                </div>
                <div class="col-md-6 text-right">
                    <router-link to="index/create" class="btn btn-primary btn-sm" >
                        Registrar
                    </router-link>
                </div>
            </div>
        </template>
        <template slot="body">
        <div class="row">
            <div class="col">
                <el-table style="width: 100% border" :data="denuncias">
                    <el-table-column label="Asociacion" prop="association.name" />
                    <el-table-column label="Descripción" prop="observation" />
                    <el-table-column label="Fecha de Creación" prop="created_at" />
                    <slot name="actions">
                        <el-table-column label="Acciones">
                        <template slot-scope="scope">
                            <router-link :to='"show/"+scope.row.id' class="btn btn-primary btn-sm" >
                                <i class="el-icon-view"></i>
                            </router-link>
                            <router-link :to='"edit/"+scope.row.id+""' class="btn btn-success btn-sm" >
                                <i class="el-icon-edit"></i>
                            </router-link>
                            <button class="btn btn-danger btn-sm" @click="eliminar(scope.row)"><i class="el-icon-delete"></i></button>
                        </template>
                            
                        </el-table-column>
                    </slot>
                </el-table>
            </div>
        </div>
            
        </template>
    </base-form>
</template>

<script>
export default {
    methods:{
        eliminar(row){
            swal({
             title: 'Eliminar',
             type: 'warning',
             text: '¿Seguro que desea eliminar?',
             showCancelButton: true,
             confirmButtonText: 'Eliminar',
             cancelButtonText: 'Cancelar',
             confirmButtonColor: '#FF0000'
                
            }).then(response => {
                if(response){
                    axios.delete(api("denuncias/"+row.id))
                        .then(res => {
                             axios.get(api("denuncias"))
                                .then(response => {
                                    this.denuncias = response.data
                                })
                        })
                }
            })
        }
    },
    data(){
        return {
            denuncias: []
        }
    },

    created(){
        axios.get(api("denuncias"))
            .then(response => {
                this.denuncias = response.data
            })
    }
}
</script>