<template>
  <crud-form
    section="informes"
    url="informes"
    created="Informe creado exitosamente"
    edited="Informe actualizado correctamente"
    :model="model"
    @on-load="load"
  >
    <div class="row">
      <div class="col">
        <form-group
          label="Descripcion"
          name="descripcion"
          :err="errors"
        >
          <input
            v-model="model.descripcion"
            v-validate="validations.descripcion"
            class="form-control"
            name="descripcion"
            placeholder="Descripcion del Informe"
          >
        </form-group>
        <form-group
          label="Tipo de Informe"
          name="tipo"
          :err="errors"
        >
          <input
            v-model="model.tipo"
            v-validate="validations.tipo"
            class="form-control"
            name="tipo"
            placeholder="Tipo de Informe"
          >
        </form-group>
      </div>
    </div>
  </crud-form>
</template>

<script>
export default {
  data() {
    return {
      model: {
        descripcion: '',
        tipo: '',
        credentials: []
      },
      credentials: [],
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      validations: {
        descripcion: {
          required: true
        },
        tipo: {
          required: true
        }
      }
    }
  },
  created() {
    axios.get(api('/informes?format=element-ui'))
      .then(response => {
        if (response.data) {
          this.descripcion = response.data
          this.tipo = response.data
        }
      })
  },
  methods: {
    load(data) {
      this.model.descripcion = data.descripcion
      this.model.tipo = data.tipo
      this.$refs.credentials.setCheckedKeys(data.credentials.map(x => x.route))
    },
    change() {
      this.model.credentials = this.$refs.credentials.getCheckedNodes(true)
    }
  }
}
</script>

<style scoped>

</style>
