<template>
  <crud-list
    url="informes"
    :columns="columns"
    :delete="(row) => `¿Esta seguro que desea eliminar el perfil ${row.name}?`"
  />
</template>

<script>
export default {
  data() {
    return {
      columns: [
        {
          label: 'Descripcion',
          prop: 'descripcion'
        },
        {
          label: 'Tipo Informe',
          prop: 'tipo'
        },
        {
          label: 'Fecha Creacion',
          prop: 'created_at'
        },
        {
          label: 'Estado Informe',
          prop: 'aprobacion'
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
