<template>
  <div>
    <base-header
      type="gradient-success"
      class="pb-6 pb-8 pt-5 pt-md-8"
    />
    <div class="container-fluid mt--7">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col-md-12">
              <h3 class="mb-0">{{ $route.name }}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div><label class="form-control-label">Descripcion:</label> {{ descripcion }}</div>
              <div><label class="form-control-label">Tipo Informe:</label> {{ tipo }}</div>
              <div><label class="form-control-label">Fecha Creacion:</label> {{ created_at }}</div>
              <div><label class="form-control-label">Fecha Modificacion:</label> {{ updated_at }}</div>
              <div><label class="form-control-label">Estado Informe:</label> {{ aprobacion }}</div>
            </div>
            <div class="col-md-6">
              <div>
                <input
                  class="btn btn-danger"
                  type="submit"
                  value="PDF"
                  @click="exportPdf"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import JsonViewer from 'vue-json-viewer'
import JsPDF from 'jspdf'
import 'jspdf-autotable'

export default {
  components: {
    JsonViewer
  },
  data() {
    return {
      descripcion: '',
      tipo: '',
      aprobacion: '',
      created_at: '',
      updated_at: ''

    }
  },
  created() {
    axios.get(api(`informes/${this.$route.params.id}`))
      .then(response => {
        this.descripcion = response.data.descripcion
        this.tipo = response.data.tipo
        this.aprobacion = response.data.aprobacion
        this.created_at = response.data.created_at
        this.updated_at = response.data.updated_at
      })
  },
  methods: {
    exportPdf() {
      var doc = new JsPDF('p', 'pt')

      doc.text('Informe ' + this.created_at, 50, 20)
      doc.autoTable({
        head: [['Tipo Informe', 'Estado', 'Fecha Creacion', 'Fecha M']],
        body: [
          [this.tipo, this.aprobacion, this.created_at, this.updated_at]
        ]
      })
      doc.autoTable({
        head: [['Descripcion']],
        body: [
          [this.descripcion]
        ]
      })
      doc.save(this.created_at + 'Informe.pdf')
    }
  }
}
</script>

<style scoped>

</style>
