<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Sección de administración de denuncias</h3>
                </div>
                <div class="col-md-6 text-right">
                    <router-link to="index/create" class="btn btn-primary btn-sm" >
                        Registrar
                    </router-link>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-6 text-right">
                <input class="form-control" type="text" v-model="buscar" placeholder="Buscar por fecha...">
                </div>
            </div> 
        </template>
        <template slot="body">
        <div class="row">
            <div class="col">
                <el-table style="width: 100% border" :data="buscador">
                    <el-table-column label="Asociacion" prop="association.name" />
                    <el-table-column label="Descripción" prop="observation" />
                    <el-table-column label="Fecha de Creación" prop="created_at" />
                    <slot name="actions">
                        <el-table-column label="Acciones">
                        <template slot-scope="scope">
                            <router-link :to='"show/"+scope.row.id' class="btn btn-primary btn-sm" >
                                <i class="el-icon-view"></i>
                            </router-link>
                        </template>
                            
                        </el-table-column>
                    </slot>
                </el-table>
            </div>
        </div>
            
        </template>
    </base-form>
</template>

<script>
export default {
    methods:{
        
    },
    computed:{
        buscador(){
            return this.admindenuncias.filter(x => x.created_at.includes(this.buscar))
        }
    },
    data(){
        return {
            admindenuncias: [],
            buscar:''
        }
    },

    created(){
        axios.get(api("admindenuncias"))
            .then(response => {
                this.admindenuncias = response.data
            })
    }
}
</script>
