<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                  <h3>Detalles de la Denuncia</h3>
                </div>
                <div class="col-md-6 text-right">
                  <button class="btn btn-primary btn-sm" @click="$router.go(-1)">Ir Atras</button>
                </div>
            </div>
          </template>
          <template slot="body">
              <div class="row">
                  <div class="col">
                    <div><label class="form-control-label">Nombre de la asociación:</label> {{ association_id }}</div>
                    <div><label class="form-control-label">Correo del denunciante:</label> {{ email }}</div>
                    <div><label class="form-control-label">Nombre del denunciante:</label> {{ user_id }}</div>
                    <div><label class="form-control-label">Fecha de creación:</label> {{ created_at }}</div>
                    <div><label class="form-control-label">Última actualización:</label> {{ updated_at }}</div>
                    <div><label class="form-control-label">Denuncia:</label> <br> {{ observation }}</div>
                    <div><label class="form-control-label">Archivos: </label>
                        <a class="btn btn-primary btn-sm"  id="boton" :href="aapi('admindenuncias/'+file)">Descargar</a>
                    </div>
                  </div>
              </div>
          </template>
      </base-form>
</template>

<script>

export default {
  methods:{
    aapi(url){
      return api(url)
    }
  },
  data() {
    return {
      observation: '',
      association_id: '',
      email:'',
      user_id: '',
      created_at: '',
      updated_at: '',
      file:''

    }
  },
  created() {
    axios.get(api("admindenuncias/"+this.$route.params.id))
      .then(response => {
        this.observation = response.data.observation
        this.association_id = response.data.association.name
        this.email = response.data.email
        this.user_id = response.data.user.name
        this.created_at = response.data.created_at
        this.updated_at = response.data.updated_at
        this.file = response.data.path
        if(this.file == null){
          var btn = document.getElementById('boton');
          btn.style.display = "none";
        }
        
      })
  }
}
</script>