<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Generar informe de Actividades</h3>
                </div>
                <div class="col-md-6 text-right">
                    
                    <button class="btn btn-primary btn-sm" @click="enviar">Generar informe</button> 
                    
                </div>
            </div>
            <div class="row">
                <el-date-picker v-model="model.month" type="month" placeholder="Seleccione un mes">

            	</el-date-picker>
            </div>
        </template>
        <template slot="body">
        <div class="row">
            <div class="col">
                <el-table style="width: 100% border" :data="filterTable">
                    <el-table-column label="Asociacion" prop="association.name" />
                    <el-table-column label="Tipo" prop="type.name" />
                    <el-table-column label="Estado" prop="status.name" />
                    <el-table-column label="Observación" prop="observation" />
                    <el-table-column label="Fecha de Inicio" prop="start_date" :formatter="format"/>
                    <el-table-column label="Fecha de Termino" prop="end_date" :formatter="format"/>
                    <el-table-column label="Fecha de Solicitud" prop="created_at" />
                </el-table>
            </div>
        </div>
            
        </template>
    </base-form>
</template>
<script>
export default {
    methods:{
        aapi(url){
            return api(url)
        },
    	format(row,column,cellValue, index){
    		return new Date(cellValue).toLocaleDateString()
    	},
        enviar(){
            axios.post(api('informes/info'), { data : this.filterTable})
            .then(response => {
            window.open(api('permiso/archivos/' + response.data.file), '_blank')
             // aapi(window.open(api('archivos/' + response.data.file), '_blank'))
            //swal('Resultado','sdfsdfsdf','success')
          })

      }
        
    },
    data(){
        return {
            model:{
                month:'',
                status_id: ''
            },
            fondos: []
            
        }
    },
    computed:{
    	filterTable(){
    		if(this.model.month === ''){
    					return this.fondos
    				}
    		return this.fondos.filter(x => {
    				let inicio = new Date(x.start_date)
 					return inicio.getFullYear() === this.model.month.getFullYear() && inicio.getMonth() === this.model.month.getMonth()
    			})
    	}
    },
    created(){
        axios.get(api("permiso"))
            .then(response => {
                this.fondos = response.data
            })
    }
}
</script>