<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb-0">{{ $route.name }}</h3>
                </div>
                <div class="col-md-6 text-right"
                     v-render:credentials="[`${url}.store`]"
                     v-if="!hideCreate">
                    <router-link :to="`${url}/create`" class="btn btn-primary btn-sm">{{ create }}</router-link>
                </div>
            </div>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-md-6">
                    <el-select v-model="perPage" placeholder="Por pagina">
                        <el-option label="5" :value="5"/>
                        <el-option label="10" :value="10"/>
                        <el-option label="20" :value="20"/>
                        <el-option label="25" :value="25"/>
                        <el-option label="50" :value="50"/>
                        <el-option label="100" :value="100"/>
                    </el-select>
                </div>
                <div class="col-md-6" v-if="search.length > 0">
                    <base-input placeholder="Buscar..." addon-left-icon="el-icon-search" v-model="searchQuery"/>
                </div>
            </div>
            <br v-if="search.length === 0">
            <div class="row">
                <div class="col" v-loading="loading">
                    <el-table style="width: 100%"
                              border
                              :row-class-name="tableRowClassName"
                              :data="data">
                        <el-table-column v-for="column in columns"
                                         :key="column.label"
                                         :prop="column.prop"
                                         :label="column.label"/>
                        <slot name="columns"></slot>
                        <el-table-column label="Acciones" v-if="!hideActions">
                            <template slot-scope="scope">
                                <el-tooltip class="item" effect="dark" content="Ver" placement="top"
                                            v-if="!hideShow">
                                    <router-link :to="`${url}/${scope.row.id}`" class="btn btn-primary btn-sm"><i class="el-icon-view"></i></router-link>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="Editar" placement="top"
                                            v-render:credentials="[`${url}.update`]"
                                            v-if="!hideEdit">
                                    <router-link :to="`${url}/${scope.row.id}/edit`" class="btn btn-success btn-sm"><i class="el-icon-edit"></i></router-link>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="Eliminar" placement="top"
                                            v-render:credentials="[`${url}.destroy`]"
                                            v-if="!hideDelete">
                                    <button @click.prevent="handleDelete(scope.row)" class="btn btn-danger btn-sm"><i class="el-icon-delete"></i></button>
                                </el-tooltip>
                                <slot name="actions" :row="scope.row"></slot>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                        class="text-right"
                        layout="prev, pager, next"
                        :current-page.sync="page"
                        :page-size="perPage"
                        :total="total"/>
                </div>
            </div>
        </template>
    </base-form>
</template>

<script>
  import BaseForm from "../BaseForm"

  export default {
    name: "crud-list",
    props: {
      url: {
        type: String,
        required: true
      },
      columns: {
        type: Array[Object],
        required: true
      },
      create: {
        type: String,
        default: 'Registrar'
      },
      delete: {
        type: Function,
        required: false,
        default: (id) => ''
      },
      'hide-create': Boolean,
      'hide-actions': Boolean,
      'hide-show': Boolean,
      'hide-edit': Boolean,
      'hide-delete': Boolean,
      search: {
        type: Array,
        default: () => []
      }
    },
    components: {
      BaseForm
    },
    methods: {
      tableRowClassName({row, rowIndex}) {
        if (row.deleted_at !== undefined) {
          if (row.deleted_at !== null) {
            return 'warning-row'
          }
        }

        return ''
      },
      loadTable() {
        this.loading = true

        axios.get(api(`${this.url}?perPage=${this.perPage}&page=${this.page}`))
          .then(response => {
            this.data = response.data.data
            this.total = response.data.total
            this.loading = false
          })
      },
      handleDelete(row) {
        swal({
          title: 'Eliminar',
          type: 'warning',
          text: `${this.delete(row)}`,
          showCancelButton: true,
          confirmButtonText: 'Eliminar',
          cancelButtonText: 'Cancelar',
          confirmButtonColor: '#FF0000'
        }).then(resp => {
          if (resp) {
            this.loading = true

            axios.delete(api(`${this.url}/${row.id}`))
              .then(response => {
                this.loadTable()
              }).catch(reason => swal('Error', 'Ha ocurrido un problema al procesar la solicitud', 'error'))
          }
        }).catch(reason => {})
      }
    },
    data() {
      return {
        data: [],
        loading: true,
        perPage: 5,
        page: 1,
        total: 0,
        searchQuery: '',
        dataWatch: () => {}
      }
    },
    computed: {
      query() {
        let search = ''

        if (this.search.length > 0) {
          search = `&where=${this.search.join(',')}&value=${this.searchQuery}`
        }

        return `perPage=${this.perPage}&page=${this.page}${search}`;
      }
    },
    watch: {
      query(value) {
        this.loading = true

        axios.get(api(`${this.url}?${value}`))
          .then(response => {
            this.data = response.data.data
            this.total = response.data.total
            this.loading = false
          })
      },
      data(value) {
        this.$emit('after-load', value)
      }
    },
    created() {
      this.dataWatch = this.$watch('data', value => {
        this.$emit('after-load', value)
        this.dataWatch()
      })

      this.loadTable()
    }
  }
</script>

<style>
    .el-table .warning-row {
        background: oldlace;
    }
</style>
