<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                    <button @click="$router.go(-1)" class="btn btn-primary btn-sm"><i class="ni ni-bold-left"></i></button>
                </div>
                <div class="col-md-6 text-right">
                    <button @click.prevent="handleClick"
                            v-promise-btn
                            :class="btnClass">{{ btnText }}</button>
                </div>
            </div>
        </template>
        <template slot="body">
            <slot></slot>
        </template>
    </base-form>
</template>

<script>
  import BaseForm from "@/components/BaseForm"

  export default {
    name: "crud-form",
    props: {
      section: {
        type: String,
        required: true
      },
      url: {
        type: String,
        required: true
      },
      model: {
        type: Object,
        required: true
      },
      created: {
        type: String,
        required: true
      },
      edited: {
        type: String,
        required: true
      }
    },
    components: {
      BaseForm
    },
    computed: {
      btnText() {
        return this.edit ? 'Actualizar' : 'Registrar'
      },
      btnClass() {
        return {
          'btn': true,
          'btn-sm': true,
          'btn-primary': !this.edit,
          'btn-success': this.edit
        }
      }
    },
    methods: {
      handleClick() {
        return this.$parent.$validator.validateAll()
          .then(res => {
            if (res) {
              if (!this.edit) {
                return axios.post(api(this.url), this.model)
                  .then(response => {
                    return swal('Creacion', this.created, 'success')
                      .then(resp => this.$router.push({path: `/${this.section}/${this.url}`}))
                  }).catch(error => {
                    return swal('Error', JSON.stringify(error.response.data), 'error')
                  })
              } else {
                return axios.put(api(`${this.url}/${this.$route.params.id}`), this.model)
                  .then(response => {
                    return swal('Actualizacion', this.edited, 'success')
                      .then(resp => this.$router.push({path: `/${this.section}/${this.url}`}))
                  }).catch(error => {
                  return swal('Error', JSON.stringify(error.response.data), 'error')
                })
              }
            }
          })
      }
    },
    data() {
      return {
        edit: false
      }
    },
    mounted() {
      if (this.$route.params.id !== undefined) {
        this.edit = true

        axios.get(api(`${this.url}/${this.$route.params.id}`))
          .then(response => {
            this.$emit('on-load', response.data)
          })
      }
    }
  }
</script>

<style scoped>

</style>
