<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                    <h3>Seccion de Fondos</h3>
                </div>
                <div class="col-md-6 text-right">
                <button class="btn btn-primary btn-sm" @click='enviar'>Registrar</button>
                </div>
            </div>
        </template>
        <template slot="body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class='form-control-label' name='' >Asociaciones: </label>
                    <el-select v-model='model.association_id' style='width:100%' placeholder='Seleccione la asociacion...'>
                    <el-option v-for='asociacion in asociaciones'
                    :key='asociacion.id'
                    :label='asociacion.name'
                    :value='asociacion.id'
                  />

                </el-select>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <div class='form-group'>
                  <label class='form-control-label' name=''>Descripción: </label>
                  <textarea v-model='model.observation' class='form-control' rows="10" cols="20" placeholder='Escribir solicitud aqui...'></textarea>
                </div>

            </div>
          </div>
                   
    </div>
  <!--  <div class="row justify-content-around">
<div class="block">
    <span class="demonstration">Fecha inicio:</span>
    <el-date-picker
      v-model="model.start_date"
      type="datetime"
      name="start_date"
      placeholder="Selecciona hora y fecha...">
    </el-date-picker>
  </div>

  <div class="block">
    <span class="demonstration">Fecha Termino:</span>
    <el-date-picker
      v-model="model.end_date"
      type="datetime"
      name="end_date"
      placeholder="Selecciona hora y fecha...">
    </el-date-picker>
  </div>
    </div> -->
<br>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class='form-control-label' name=''>Monto: </label>
                <input class="form-control" type="text" v-model="model.amount" placeholder="Ingrese Monto...">
            </div>
        </div>
        
        
    </div>    

        </template>
    </base-form>
</template>

<script>


export default {
    methods:{
      enviar(){
          if(this.model.association_id == ''){
              swal('Campo Obligatorio', 'Debe seleccionar una asociacion', 'warning')
              return
          }
          if(this.model.observation == ''){
              swal('Campo Obligatorio', 'Debe escribir una descripcion', 'warning')
              return
          }
          if(this.model.amount == ''){
              swal('Campo Obligatorio', 'Debe escribir un monto', 'warning')
          }
          
        axios.post(api('fondo'), this.model)
          .then(response => {
              swal('Solicitud Enviada',response.data.alerta,'success')
              .then(response => {
                    this.$router.push({path: '/'})
                })

          })
      }

    },
    data(){
        return {
             model:{
                association_id: '',
                observation: '',
                start_date: '',
                end_date: '',
                amount: ''
            },
            pickerOptions: {
          shortcuts: [{
            text: 'Today',
            onClick(picker) {
              picker.$emit('pick', new Date());
            }
          }, {
            text: 'Yesterday',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit('pick', date);
            }
          }, {
            text: 'A week ago',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', date);
            }
          }]
        },
        start_date: '',
        end_date: '',
        
           
            asociaciones: [],
            amount: '',
            association_id: '',
            observation: ''            
        }
    },

    created(){
        axios.get(api("asociacion"))
            .then(response => {
                this.asociaciones = response.data
            })
    }
}
</script>