<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Fondos</h3>
                </div>
                <div class="col-md-6 text-right">
                <router-link to="index/create" class="btn btn-primary btn-sm" >
                    Registrar
                </router-link>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <input class="form-control" type="text" v-model="buscar" placeholder="Buscar por fecha..." >
                </div>
            </div>
        </template>
        <template slot="body">
        <div class="row">
            <div class="col">
                <el-table style="width: 100% border" :data="buscador">
                    <el-table-column label="Asociacion" prop="association.name" />
                    <el-table-column label="Estado" prop="status.name" />
                    <el-table-column label="Tipo" prop="type.name" />
                    <el-table-column label="Creado" prop="created_at" />
                    <slot name="actions">
                        <el-table-column label="Actions">
                        <template slot-scope="scope">
                            <router-link :to='"index/"+scope.row.id' class="btn btn-primary btn-sm" >
                                <i class="el-icon-view"></i>
                            </router-link>
                            <router-link :to='"index/"+scope.row.id+"/edit"' class="btn btn-success btn-sm" >
                                <i class="el-icon-edit"></i>
                            </router-link>
                            <button class="btn btn-danger btn-sm" @click="eliminar(scope.row)"><i class="el-icon-delete"></i></button>
                        </template>
                            
                        </el-table-column>
                    </slot>
                </el-table>
            </div>
        </div>
            
        </template>
    </base-form>
</template>

<script>
export default {
    methods:{
        aceptar(){
        axios.put(api("fondoaceptar/"+this.$route.params.id), this.model)
          .then(response => {
              
              swal('Aceptado',response.data.alerta,'success')
                .then(response => {
                    this.$router.push({path: '/fondos/index'})
                })
          })
      },
        eliminar(row){
            swal({
             title: 'Eliminar',
             type: 'warning',
             text: '¿Seguro que desea eliminar?',
             showCancelButton: true,
             confirmButtonText: 'Eliminar',
             cancelButtonText: 'Cancelar',
             confirmButtonColor: '#FF0000'
                
            }).then(response => {
                if(response){
                    axios.delete(api("fondo/"+row.id))
                        .then(res => {
                             axios.get(api("fondo"))
                                .then(response => {
                                    this.fondos = response.data
                                })
                        })
                }
            })
        }
    },
    computed:{
        buscador(){
            return this.fondos.filter(x => x.created_at.includes(this.buscar))
        }
    },
    data(){
        return {
            model:{
                status_id: ''
            },
            fondos: [],
            buscar: ''
        }
    },

    created(){
        axios.get(api("fondo"))
            .then(response => {
                this.fondos = response.data
            })
    }
}
</script>