<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Editar Renovación</h3>
                </div>
                <div class="col-md-6 text-right">
                <button class="btn btn-primary btn-sm" @click='enviar'>Actualizar</button>
                </div>
            </div>
        </template>
        <template slot='body'>
          <div class='row'>
            <div class='col'>
                <div class='form-group'>
                  <label class='form-control-label'>Asociacion: </label>
                  <input class="form-control" type="text" v-model='model.name' readonly>
                </div>

            </div>
          </div>  
          
          <div class='row'>
            <div class='col'>
              <div class='form-group'>
                <label class='form-control-label'>Archivo: </label>
                <input id="files"
                 name="documento"
                 type="file"
                 accept=".pdf,.doc,.docx"
                 @change="selectFile">

                 <br><label class='form-control-label'>Formatos aceptados: .pdf .doc .docx </label>
              </div>


            </div>
          </div>

          </div>
      </template>
    </base-form>
</template>

<script>
export default {
  methods:{
      selectFile(e){
        this.documento = e.target.files[0];
      },
      enviar(e){
        e.preventDefault();
        let currentObj = this;

        const config = { headers: { 'Content-Type': 'multipart/form-data' } };

        let formData = new FormData();
        formData.append('documento', this.documento);
        formData.append('association_id', this.model.association_id);
        formData.append("_method", "put");


        if(this.model.association_id == '')
        {
          swal('Resultado','Debe seleccionar la asociación','warning')
          return
        }
        axios.post(api("renovaciones/"+this.$route.params.idr), formData ,config)
          .then(response => {
              swal('Resultado',response.data.alerta,'success')
              .then(response => {
                    this.$router.push({path: '/renovaciones/index'})
              })
          })
      }

    },
    data(){
        return {
            model: {
                association_id:'',
                name:''
            }   
        }
        
    },

    created() {
    axios.get(api("renovaciones/"+this.$route.params.idr))
      .then(response => {
        this.model.association_id = response.data.association_id
        this.model.name = response.data.association.name
      })
  }
}
</script>
