<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                  <h3>Detalles de la Solicitud de Renovación</h3>
                </div>
                <div class="col-md-6 text-right">
                  <button class="btn btn-primary btn-sm" @click="$router.go(-1)">Ir Atras</button>
                </div>
            </div>
        </template>
         <template slot="body">
        <div class="row">
            <div class="col">
                <div><label class="form-control-label">Nombre de la asociación:</label> {{ association_id }}</div>
                <div><label class="form-control-label">Nombre del estudiante:</label> {{ user_id }}</div>
                <div><label class="form-control-label">Estado de la solicitud:</label> {{ status_id }}</div>
                <div><label class="form-control-label">Fecha de registro de solicitud:</label> {{ created_at }}</div>
                <div><label class="form-control-label">Última actualización:</label> {{ updated_at }}</div>
                <div><label class="form-control-label">Comentario de persona revisante:</label> {{ observation }}</div>
                <div><label class="form-control-label">Archivos: </label>
                    <a class="btn btn-primary btn-sm" :href="aapi('denuncias/'+file)">Descargar</a>
                </div>

                
            </div>
        </div>
            
        </template>
    </base-form>
</template>

<script>

export default {
  methods:{
    aapi(url){
      return api(url)
    }
  },
  data() {
    return {
      observation: '',
      association_id: '',
      status_id:'',
      user_id: '',
      created_at: '',
      updated_at: '',
      file:''

    }
  },
  created() {
    axios.get(api("renovaciones/"+this.$route.params.idr))
      .then(response => {
        this.observation = response.data.observation
        this.association_id = response.data.association.name
        this.user_id = response.data.user.name
        this.status_id = response.data.status.name
        this.created_at = response.data.created_at
        this.updated_at = response.data.updated_at
        this.file = response.data.path
        
      })
  },
  
}
</script>