<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col text-center">
                    <img src="img/logo.png">
                </div>
            </div>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col text-center">
                    <h2>Bienvenido</h2>
                </div>
            </div>
        </template>
    </base-form>
</template>
<script>
  export default {

  };
</script>
<style></style>
