<template>
    <page-layout>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted">
                            <h1>403 Forbidden</h1>
                        </div>
                        <div class="text-center">
                            No posee los permisos necesarios para visualizar el contenido de esta pagina
                        </div>
                        <br>
                        <div class="text-center">
                            <router-link to="/" class="btn btn-primary"><i class="ni ni-app"></i> Inicio</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </page-layout>
</template>

<script>
  import PageLayout from "../layout/PageLayout";

  export default {
    name: "forbidden",
    components: {
      PageLayout
    }
  }
</script>

<style scoped>

</style>