<template>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <img src="img/logo.png">
                            <h4>Sistema OrgUBB</h4>
                        </div>
                        <form role="form">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Email"
                                        name="email"
                                        v-validate="'required|email'"
                                        :error="errors.first('email')"
                                        addon-left-icon="ni ni-email-83"
                                        v-model="model.email">
                            </base-input>
                            <base-input class="input-group-alternative"
                                        placeholder="Contraseña"
                                        name="contraseña"
                                        v-validate="'required'"
                                        :error="errors.first('contraseña')"
                                        type="password"
                                        addon-left-icon="ni ni-lock-circle-open"
                                        v-model="model.password">
                            </base-input>
                            <small class="text-danger" v-show="error.length !== 0">{{ error }}</small>
                            <base-checkbox class="custom-control-alternative"
                                           @input="(check) => model.remember_me = check">
                                <span class="text-muted">Recordarme</span>
                            </base-checkbox>
                            <div class="text-center">
                                <base-button @click="login" type="primary" class="my-4">Ingresar</base-button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <router-link to="/password/reset" class="text-light"><small>¿Olvido su clave?</small></router-link>
                    </div>
                    <div class="col-6">
                        <router-link to="/denunciaanonima" class="text-light"><small>Realice una denuncia(Anónima)</small></router-link>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
  export default {
    name: 'login',
    data() {
      return {
        model: {
          email: '',
          password: '',
          remember_me: false
        },
        error: ''
      }
    },
    watch: {
      'model.email'() {
        this.error = ''
      },
      'model.password'() {
        this.error = ''
      }
    },
    methods: {
      login() {
        return this.$validator.validateAll().then(res => {
          if (res) {
            axios.post(api('auth/login'), this.model)
              .then(response => {
                document.cookie = cookie.serialize('token', response.data.access_token)
                axios.defaults.headers.common['Authorization'] = `Bearer ${cookie.parse(document.cookie).token}`

                this.$router.push({
                  path: this.$route.query.redirect !== undefined ? this.$route.query.redirect : '/'
                })
              })
              .catch(reason => this.error = 'Usuario o Contraseña incorrecto')
          }
        })
      }
    }
  }
</script>
<style>
</style>
