<template>
    <page-layout>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted">
                            <h1>404 Page not found</h1>
                        </div>
                        <div class="text-center">
                            La pagina que esta tratando de consultar no existe.
                        </div>
                        <br>
                        <div class="text-center">
                            <router-link to="/" class="btn btn-primary"><i class="ni ni-app"></i> Inicio</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </page-layout>
</template>
<script>
  import PageLayout from "../layout/PageLayout";

  export default {
    name: 'not-found',
    components: {
      PageLayout
    }
  }
</script>
<style>
</style>
