<template>
    <page-layout>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted">
                            <h4>Cambiar Contraseña</h4>
                        </div>
                        <form role="form">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Contraseña"
                                        name="contraseña"
                                        ref="password"
                                        type="password"
                                        v-validate="'required'"
                                        :error="errors.first('contraseña')"
                                        addon-left-icon="ni ni-lock-circle-open"
                                        v-model="model.password">
                            </base-input>
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Confirmar Contraseña"
                                        name="confirmar contraseña"
                                        type="password"
                                        v-validate="validations.password_confirmation"
                                        :error="errors.first('confirmar contraseña')"
                                        addon-left-icon="ni ni-lock-circle-open"
                                        v-model="model.password_confirmation">
                            </base-input>
                            <div class="text-center">
                                <button v-promise-btn @click.prevent="changePassword" class="btn btn-primary">Cambiar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </page-layout>
</template>

<script>
  import PageLayout from "../layout/PageLayout";

  export default {
    components: {
      PageLayout
    },
    data() {
      return {
        model: {
          password: '',
          password_confirmation: ''
        },
        validations: {
          password: {
            required: true
          },
          password_confirmation: {
            required: true,
            confirmed: 'password'
          }
        }
      }
    },
    methods: {
      changePassword() {
        return this.$validator.validateAll().then(res => {
          if (res) {
            return axios.put(api('auth/password/change'), {
              token: this.$route.params.token,
              ...this.model
            })
              .then(response => {
                swal('Cambiar Contraseña', 'Contraseña cambiada correctamente', 'success')
                  .then(res => {
                    this.$router.push({path: '/login'})
                  })
              }).catch(reason => {
                swal('Error', 'Ha ocurrido un error al procesar la solicitud', 'error')
              })
          }
        })
      }
    },
    beforeCreate() {
      axios.get(api(`auth/password/token?token=${this.$route.params.token}`))
        .catch(reason => this.$router.push({path: '/not-found'}))
    }
  }
</script>

<style scoped>

</style>