<template>
    <page-layout>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted">
                            <h4>Cambiar Contraseña</h4>
                        </div>
                        <form role="form" v-if="!send">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Email"
                                        name="email"
                                        v-validate="'required|email'"
                                        :error="errors.first('email')"
                                        addon-left-icon="ni ni-email-83"
                                        v-model="model.email">
                            </base-input>
                            <div class="text-center">
                                <base-button @click="sendMail" type="primary" class="my-4">Enviar</base-button>
                            </div>
                        </form>
                        <div v-else>
                            <div class="text-center">
                                Se ha enviado un correo de restauracion de contraseña, siga las instrucciones indicadas.
                            </div>
                            <br>
                            <div class="text-center">
                                <router-link to="/login" class="btn btn-primary"><i class="ni ni-app"></i> Login</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </page-layout>
</template>

<script>
  import PageLayout from "../layout/PageLayout";

  export default {
    components: {
      PageLayout
    },
    data() {
      return {
        model: {
          email: ''
        },
        send: false
      }
    },
    methods: {
      sendMail() {
        return this.$validator.validateAll().then(res => {
          if (res) {
            this.send = true

            axios.post(api('auth/password/reset'), this.model)
          }
        })
      }
    }
  }
</script>

<style scoped>

</style>