<template>
    <div>
        <base-header type="gradient-primary" class="pb-6 pb-8 pt-5 pt-md-8">
        </base-header>
        <div class="container-fluid mt--7">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <slot name="header"></slot>
                </div>
                <div class="card-body">
                    <slot name="body"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "base-form"
  }
</script>

<style scoped>

</style>