<template>
    <div class="form-group" v-if="wrapper" v-loading="loading">
        <label class="form-control-label">{{ label }}</label>
        <el-tree
                ref="credentials"
                :props="defaultProps"
                :data="credentials"
                node-key="route"
                :default-expanded-keys="['*']"
                show-checkbox
                @check-change="change"/>
    </div>
    <el-tree
            v-else
            v-loading="loading"
            ref="credentials"
            :props="defaultProps"
            :data="credentials"
            node-key="route"
            :default-expanded-keys="['*']"
            show-checkbox
            @check-change="change"/>
</template>

<script>
  import {Tree} from "element-ui"

  export default {
    name: "credentials",
    props: {
      data: Array,
      label: String,
      wrapper: {
        type: Boolean,
        required: false,
        default: true
      }
    },
    components: {
      [Tree.name]: Tree
    },
    data() {
      return {
        credentials: [],
        defaultProps: {
          children: 'children',
          label: 'label'
        },
        watcher: null,
        loading: true
      }
    },
    methods: {
      change() {
        this.$emit('update:data', this.$refs.credentials.getCheckedNodes(true))
      },
      dataWatch(val) {
        if (val.length > 0) {
          this.watcher()
          this.$refs.credentials.setCheckedKeys(val.map(x => x.route))
        }
      }
    },
    created() {
      axios.get(`${window.location.origin}/api/credentials`)
        .then(response => {
          if (response.data) {
            this.credentials = response.data;

            this.loading = false
          }
        })
    },
    mounted() {
      this.watcher = this.$watch('data', this.dataWatch)
    }
  }
</script>

<style scoped>

</style>