<template>
    <div class="form-group">
        <label class="form-control-label">{{ label }}</label>
        <slot></slot>
        <small class="text-danger">{{ err.first(name) }}</small>
    </div>
</template>

<script>
  export default {
    name: "form-group",
    props: {
      label: {
        type: String,
        required: true
      },
      name: {
        type: String,
        required: true
      },
      err: {
        type: Object,
        required: true
      },
      'error-name': String
    },
  }
</script>

<style scoped>

</style>