<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Editar Asociaciones</h3>
                </div>
                <div class="col-md-6 text-right">
                <button class="btn btn-primary btn-sm" @click='enviar'>Registrar</button>
                </div>
            </div>
        </template>
        <template slot="body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">Nombre Asociacion:</label> 
                    <input class="form-control" type="text" v-model='model.name'>
                </div>
            </div>
            
           
        </div> 
        <div class="row">
          <div class="col">
            <div class="form-group">
                <label class="form-control-label">Descripcion Asociacion:</label> 
                <textarea class="form-control" v-model="model.description" rows="10" cols="20" placeholder="Escribir descripcion..."></textarea>
            </div>
          </div>
            
           
        </div> 
  <div class="form-group">
                    <label class='form-control-label' name='' >Estado: </label>
                    <el-select v-model='model.status_id' style='width:100%' placeholder='Seleccione el estado...'>
                    <el-option v-for='estado in estados'
                    :key='estado.id'
                    :label='estado.name'
                    :value='estado.id'
                  />

                </el-select>
                </div>


                
            
        </template>
    </base-form>
</template>

<script>
export default {
  methods:{
      enviar(){
        axios.put(api("asociacion/"+this.$route.params.id), this.model )
          .then(response => {
              swal('Asociacion Actualizada',response.data.alerta,'success')
                .then(response => {
                    this.$router.push({path: '/adminasociacion/index'})
                })
          })
      }

    },
    data(){
        return {
            model: {
                name: '',
                description: '',
                status_id: ''
            },   
            estados: []
        }
        
    },

    created() {
         axios.get(api("status"))
            .then(response => {
                this.estados = response.data
            })

    axios.get(api("asociacion/"+this.$route.params.id))
      .then(response => {
        this.model.name = response.data.name
        this.model.description = response.data.description
        this.model.status_id = response.data.status_id
      })
  }
}
</script>
