<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Editar Asociaciones</h3>
                </div>
                <div class="col-md-6 text-right">
                <button class="btn btn-primary btn-sm" @click='enviar'>Registrar</button>
                </div>
            </div>
        </template>
        <template slot="body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">Nombre Asociacion:</label> 
                    <input class="form-control" type="text" v-model='model.name'>
                </div>
            </div>
            
           
        </div> 
        <div class="row">
          <div class="col">
            <div class="form-group">
                <label class="form-control-label">Descripcion Asociacion:</label> 
                <textarea class="form-control" v-model="model.description" rows="10" cols="20" placeholder="Escribir descripcion..."></textarea>
            </div>
          </div>
            
           
        </div> 


                
            
        </template>
    </base-form>
</template>

<script>
export default {
  methods:{
      enviar(){
        axios.put(api("asociacion/"+this.$route.params.id), this.model )
          .then(response => {
              swal('Asociacion Actualizada',response.data.alerta,'success')
                .then(response => {
                    this.$router.push({path: '/asociaciones/index'})
                })
          })
      }

    },
    data(){
        return {
            model: {
                name: '',
                description: ''
            }   
        }
        
    },

    created() {
    axios.get(api("asociacion/"+this.$route.params.id))
      .then(response => {
        this.model.name = response.data.name
        this.model.description = response.data.description
      })
  }
}
</script>
