<template>
    <base-form>
      <template slot='header'>
        <div class='row'>
          <div class='col-md-6'>
            <h3>Registrar Asociacion</h3>
          </div>
          <div class='col-md-6 text-right'>
            <button class="btn btn-primary btn-sm" @click='enviar'>Registrar</button>  
          </div>
        </div>
      </template>

      <template slot='body'>
          <div class="row">
          <div class="col">
            <div class="form-group">
                <label class="form-control-label">Nombre Asociacion:</label> 
                <input class="form-control" type="text" v-model='model.name' placeholder="Ingrese Nombre">
            </div>
          </div>
            
           
          </div> 
          <div class="row">
          <div class="col">
            <div class="form-group">
                <label class="form-control-label">Descripcion Asociacion:</label> 
               <!-- <input class="form-control" type="text" v-model='model.description' placeholder="Ingrese Descripcion"> -->
                <textarea class="form-control" v-model="model.description" rows="10" cols="20" placeholder="Escribir descripcion..."></textarea>
            </div>
          </div>
            
           
          </div> 
 
        
          
      </template>

    </base-form>
</template>

<script>
  export default {
    methods:{
      enviar(){
        if(this.model.name == ''){
              swal('Campo Obligatorio', 'Debe escribir un nombre', 'warning')
              return
          }
          if(this.model.description == ''){
              swal('Campo Obligatorio', 'Debe escribir una descripcion', 'warning')
              return
          }
        axios.post(api('asociacion'), this.model )
          .then(response => {
              swal('Asociacion Creada',response.data.alerta,'success')
                .then(response => {
                    this.$router.push({path: '/asociaciones/index'})
                })
          })
      }

    },

    data(){
      return {
        model:{
          name:'',
          description:'',
        },
      }
    },

   
  }
</script>


<style scoped>

</style>