<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Detalles Asociacion</h3>
                </div>
            </div>
        </template>
         <template slot="body">
        <div class="row">
            <div class="col">
                <div><label class="form-control-label">Nombre:</label> {{ name }}</div>
                <div><label class="form-control-label">Descripcion:</label> {{ description }}</div>
                <div><label class="form-control-label">Estado:</label> {{ status_id }}</div>
                <div><label class="form-control-label">Creado:</label> {{ created_at }}</div>
                <div><label class="form-control-label">Actualizado:</label> {{ updated_at }}</div>
            </div>
        </div>
            
        </template>
    </base-form>
</template>

<script>

export default {
  data() {
    return {
      name: '',
      description: '',
      status_id: '',
      created_at: '',
      updated_at: ''

    }
  },
  created() {
    axios.get(api("asociacion/"+this.$route.params.id))
      .then(response => {
        this.name = response.data.name
        this.description = response.data.description
        this.status_id = response.data.status.name
        this.created_at = response.data.created_at
        this.updated_at = response.data.updated_at
      })
  }
}
</script>