<template>
    <crud-form
            section="asociaciones"
            url="members"
            created="Miembro añadido exitosamente"
            edited=""
            :model="model"
    >
        <div class="row">
            <div class="col">
                <form-group label="Estudiante"
                            :err="errors"
                            name="estudiante">
                    <el-select v-model="model.student_id"
                               style="width: 100%"
                               placeholder="Seleccione un estudiante">
                        <el-option v-for="student in students"
                                   :key="student.id"
                                   :label="student.full_name"
                                   :value="student.id"/>
                    </el-select>
                </form-group>
                <form-group label="Asociacion"
                            :err="errors"
                            name="asociacion">
                    <el-select v-model="model.association_id"
                               style="width: 100%"
                               placeholder="Seleccione una asociacion">
                        <el-option v-for="association in associations"
                                   :key="association.id"
                                   :label="association.name"
                                   :value="association.id"/>
                    </el-select>
                </form-group>
                <form-group label="Rol"
                            :err="errors"
                            name="role">
                    <el-select v-model="model.role_id"
                               style="width: 100%"
                               placeholder="Seleccione un rol">
                        <el-option v-for="role in roles"
                                   :key="role.id"
                                   :label="role.name"
                                   :value="role.id"/>
                    </el-select>
                </form-group>
            </div>
        </div>
    </crud-form>
</template>

<script>
  import Credentials from '@/components/Credentials'

  export default {
    components: {
      Credentials
    },
    data() {
      return {
        students: [],
        associations: [],
        roles: [],
        model: {
          student_id: '',
          association_id: '',
          role_id: ''
        },
        validations: {
          name: {
            required: true,
            unique: {
              table: 'roles',
              prop: 'name'
            },
            regex: '^\\w[a-z]+( \\w[a-z]+)*$',
            max: 100
          },
          description: {
            required: true,
            max: 100
          }
        }
      }
    },
    created() {
        axios.get(api('students/bind'))
          .then(response => {
            this.students = response.data
          })

      axios.get(api('asociacion'))
        .then(response => {
          this.associations = response.data
        })

      axios.get(api('roles'))
        .then(response => {
          this.roles = response.data.filter(x => x.id > 1 && x.id < 6)
        })
    }
  }
</script>

<style scoped>

</style>
