<template>
    <crud-list url="members"
               ref="list"
               :columns="columns"
               :delete="(row) => `¿Esta seguro que desea eliminar el miembro ${row.full_name}`"
               :hide-actions="true">
        <template slot="columns">
            <el-table-column label="Rol">
                <template slot-scope="scope">
                    <el-select :disabled="role_id > 2 || scope.row.preference_custom.role_id === role_id" @change="(value) => changeRole(value, scope.row)" v-model="scope.row.preference_custom.role_id">
                        <el-option v-for="role in roles"
                                   :key="role.id"
                                   :label="role.name"
                                   :value="role.id"/>
                    </el-select>
                </template>
            </el-table-column>
            <el-table-column label="Acciones" v-if="role_id <= 2">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" content="Eliminar" placement="top" v-if="(scope.row.preference_custom.role_id !== 2 && scope.row.preference_custom.role_id !== role_id) || role_id === 1">
                        <button @click.prevent="$refs.list.handleDelete(scope.row)" class="btn btn-danger btn-sm"><i class="el-icon-delete"></i></button>
                    </el-tooltip>
                </template>
            </el-table-column>
        </template>
    </crud-list>
</template>

<script>
  export default {
    methods: {
      changeRole(value, row) {
        axios.post(api('members/role'), {
          preference_id: row.preference_custom.id,
          role_id: value
        }).then(response => {

        }).catch(error => swal('Error', JSON.stringify(error.response.data), 'error'))
      }
    },
    data() {
      return {
        roles: [],
        role_id: '',
        columns: [
          {
            label: 'Nombre',
            prop: 'full_name'
          },
          {
            label: 'Rut',
            prop: 'full_dni'
          },
          {
            label: 'Carrera',
            prop: 'career.name'
          },
          {
            label: 'Asociacion',
            prop: 'association.name'
          }
        ]
      }
    },
    created() {
      axios.get(api('roles'))
        .then(response => {
          this.roles = response.data.filter(x => x.id > 1 && x.id < 6)
        })

      axios.get(api('auth/user'))
        .then(response => this.role_id = response.data.preference.role_id)
    }
  }
</script>

<style scoped>

</style>
