<template>
  <crud-form
    section="admin"
    url="users"
    created="Usuario creado exitosamente"
    edited="Usuario actualizado correctamente"
    :model="model"
    @on-load="load"
  >
    <div class="row">
      <div class="col">
          <form-group label="¿Estudiante?"
                      name="estudiante"
                      v-if="!($route.params.id !== undefined && student)"
                      :err="errors">
              <el-switch v-model="student"></el-switch>
          </form-group>
        <form-group
            v-if="!student"
          label="Nombre"
          name="nombre"
          :err="errors"
        >
          <input
            v-model="model.name"
            v-validate="validations.name"
            class="form-control"
            name="nombre"
            placeholder="Nombre del usuario"
          >
        </form-group>
          <form-group
              v-else
              label="Nombre"
              name="nombre"
              :err="errors"
          >
            <el-select v-model="model.student_id"
                       v-validate="validations.student_id"
                       name="nombre"
                       filterable
                       style="width: 100%"
                       placeholder="Seleccione Estudiante">
                <el-option v-for="it in students"
                           :key="it.id"
                           :label="it.full_name"
                           :value="it.id"/>
            </el-select>
          </form-group>
        <form-group
          label="Email"
          name="email"
          :err="errors"
        >
          <input
            v-model="model.email"
            v-validate="$route.params.id === undefined ? validations.email : {}"
            :disabled="$route.params.id !== undefined"
            class="form-control"
            name="email"
            placeholder="Email del usuario"
          >
        </form-group>
        <form-group
          :label="'Contraseña (min 5) ' + ($route.params.id !== undefined ? '(Dejar en blanco para conservar)' : '')"
          name="contraseña"
          :err="errors"
        >
          <input
            ref="password"
            v-model="model.password"
            v-validate="$route.params.id === undefined ? validations.password : {min: 5}"
            class="form-control"
            name="contraseña"
            type="password"
            placeholder="Contraseña de usuario"
          >
            <el-progress :percentage="25 * score" :show-text="false" :color="strengthColors"/>
        </form-group>
        <form-group
          label="Confirmar Contraseña"
          name="confirmar contraseña"
          :err="errors"
        >
          <input
            v-model="model.password_confirmation"
            v-validate="$route.params.id === undefined ? validations.password_confirmation : {confirmed: 'password'}"
            class="form-control"
            name="confirmar contraseña"
            type="password"
            placeholder="Contraseña de usuario"
          >
        </form-group>
        <form-group
          label="Rol"
          name="rol"
          :err="errors"
        >
          <el-select
            v-model="model.role_id"
            v-validate="validations.role_id"
            name="rol"
            style="width: 100%"
            placeholder="Seleccione un Rol"
          >
            <el-option
              v-for="role in roles"
              :key="role.id"
              :label="role.name"
              :value="role.id"
            />
          </el-select>
        </form-group>
      </div>
    </div>
  </crud-form>
</template>

<script>
  import passwordStrength from "zxcvbn"

export default {
  watch: {
    'model.password'(value) {
      this.score = passwordStrength(value).score
    },
    'model.student_id'() {
      this.model.name = 'empty'
    }
  },
  data() {
    return {
      strengthColors: [
        {color: '#ff0000', percentage: 26},
        {color: '#ff8400', percentage: 51},
        {color: '#fbff00', percentage: 76},
        {color: '#2bff00', percentage: 101}
      ],
      student: false,
      roles: [],
      students: [],
      score: 0,
      model: {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        role_id: '',
        student_id: ''
      },
      validations: {
        name: {
          required: true,
          regex: '^\\w[a-z]+( \\w[a-z]+)*$'
        },
        email: {
          required: true,
          email: true,
          unique: {
            table: 'users',
            prop: 'email'
          }
        },
        password: {
          required: true,
          min: 5
        },
        password_confirmation: {
          required: true,
          confirmed: 'password'
        },
        role_id: {
          required: true
        },
        student_id: {
          required: true
        }
      }
    }
  },
  created() {
    axios.get(api('roles'))
      .then(response => {
        this.roles = response.data
      })

    axios.get(api('students'))
      .then(response => {
        this.students = response.data
      })
  },
  methods: {
    load(data) {
      this.model.name = data.name
      this.model.email = data.email
      this.model.role_id = data.preference.role.id

      if (data.preference.student_id !== null) {
        this.model.student_id = data.preference.student_id
        this.student = true
      }
    }
  }
}
</script>

<style scoped>

</style>
