<template>
  <crud-list
    url="users"
    ref="list"
    :columns="columns"
    :delete="(row) => `¿Esta seguro que desea eliminar el usuario ${row.email}?`"
    :hide-show="true"
    :hide-edit="true"
    :hide-delete="true"
    :search="['name', 'email']">
      <template slot="actions" slot-scope="scope" v-if="scope.row.id !== 1">
          <template v-if="scope.row.deleted_at === null">
              <el-tooltip class="item" effect="dark" content="Editar" placement="top"
                          v-render:credentials="[`users.update`]">
                  <router-link :to="`users/${scope.row.id}/edit`" class="btn btn-success btn-sm"><i class="el-icon-edit"></i></router-link>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="Eliminar" placement="top"
                          v-render:credentials="[`users.destroy`]">
                  <button @click.prevent="$refs.list.handleDelete(scope.row)" class="btn btn-danger btn-sm"><i class="el-icon-delete"></i></button>
              </el-tooltip>
          </template>
          <template v-else>
            <el-tooltip class="item" effect="dark" content="Restaurar" placement="top">
                <button @click.prevent="restore(scope.row)" class="btn btn-warning btn-sm"><i class="el-icon-user"></i></button>
            </el-tooltip>
          </template>
      </template>
  </crud-list>
</template>

<script>
export default {
  methods: {
    restore(row) {
      swal({
        title: 'Restaurar',
        type: 'warning',
        text: `¿Esta seguro que desea restaurar el usuario ${row.email}?`,
        showCancelButton: true,
        confirmButtonText: 'Restaurar',
        cancelButtonText: 'Cancelar',
        confirmButtonColor: '#ff8400'
      }).then(resp => {
        if (resp) {
          axios.post(api(`users/${row.id}/restore`))
            .then(response => {
              this.$refs.list.loadTable()
            }).catch(error => swal('Error', JSON.stringify(error.response.data), 'error'))
        }
      }).catch(reason => {})
    }
  },
  data() {
    return {
      columns: [
        {
          label: 'Nombre',
          prop: 'name'
        },
        {
          label: 'Email',
          prop: 'email'
        },
        {
          label: 'Rol',
          prop: 'preference.role.name'
        },
        {
          label: 'Fecha Creacion',
          prop: 'created_at'
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
