<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                    <button @click="$router.go(-1)" class="btn btn-primary btn-sm"><i class="ni ni-bold-left"></i></button>
                </div>
                <div class="col-md-6 text-right">
                    <button @click.prevent="handleClick"
                            v-promise-btn
                            class="btn btn-warning btn-sm">Cambiar</button>
                </div>
            </div>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col">
                    <form-group
                            label="Contraseña"
                            name="contraseña"
                            :err="errors"
                    >
                        <input
                                ref="password"
                                v-model="model.password"
                                v-validate="validations.password"
                                class="form-control"
                                name="contraseña"
                                type="password"
                                placeholder="Contraseña de usuario"
                        >
                    </form-group>
                    <form-group
                            label="Confirmar Contraseña"
                            name="confirmar contraseña"
                            :err="errors"
                    >
                        <input
                                v-model="model.password_confirmation"
                                v-validate="validations.password_confirmation"
                                class="form-control"
                                name="confirmar contraseña"
                                type="password"
                                placeholder="Contraseña de usuario"
                        >
                    </form-group>
                </div>
            </div>
        </template>
    </base-form>
</template>

<script>
  export default {
    data() {
      return {
        model: {
          password: '',
          password_confirmation: ''
        },
        validations: {
          password: {
            required: true
          },
          password_confirmation: {
            required: true,
            confirmed: 'password'
          }
        }
      }
    },
    methods: {
      handleClick() {
        return this.$validator.validateAll()
          .then(res => {
          if (res) {
            return axios.put(api(`users/${this.$route.params.id}/password`), this.model)
              .then(response => {
                return swal('Cambio Contraseña', 'La contraseña se ha actualizado correctamente', 'success')
                  .then(resp => this.$router.push({path: '/admin/users'}))
              })
          }
        })
      }
    }
  }
</script>

<style scoped>

</style>