<template>
  <div>
    <base-form>
      <template slot="header">
        <div class="row">
          <div class="col-md-12">
            <button @click="$router.go(-1)" class="btn btn-primary btn-sm"><i class="ni ni-bold-left"></i></button>
          </div>
        </div>
      </template>
      <template slot="body">
        <div class="row">
          <div class="col-md-12">
            <div><label class="form-control-label">Nombre:</label> {{ name }}</div>
            <div><label class="form-control-label">Email:</label> {{ email }}</div>
            <div><label class="form-control-label">Rol:</label> {{ role }}</div>
          </div>
        </div>
      </template>
    </base-form>
  </div>
</template>

<script>
import JsonViewer from 'vue-json-viewer'

export default {
  components: {
    JsonViewer
  },
  data() {
    return {
      name: '',
      email: '',
      role: '',
      credentials: {}
    }
  },
  created() {
    axios.get(api(`users/${this.$route.params.id}`))
      .then(response => {
        this.name = response.data.name
        this.email = response.data.email
        this.role = response.data.preference.role.name
      })
  }
}
</script>

<style scoped>

</style>
