<template>
    <crud-list url="history"
               :columns="columns"
               :hide-create="true"
               :hide-edit="true"
               :hide-delete="true">
    </crud-list>
</template>

<script>
  export default {
    data() {
      return {
        columns: [
          {
            label: 'Nombre',
            prop: 'student.full_name'
          },
          {
            label: 'Carrera',
            prop: 'student.career.name'
          },
          {
            label: 'Asociacion',
            prop: 'association.name'
          },
          {
            label: 'Estado',
            prop: 'status.name'
          }
        ]
      }
    }
  }
</script>

<style scoped>

</style>
