<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-12">
                    <button @click="$router.go(-1)" class="btn btn-primary btn-sm"><i class="ni ni-bold-left"></i></button>
                </div>
            </div>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-md-12">
                    <div><label for="" class="form-control-label">Fecha:</label> {{ date }}</div>
                    <div><label class="form-control-label">Nombre:</label> {{ student.full_name }}</div>
                    <div><label class="form-control-label">Rut:</label> {{ student.full_dni }}</div>
                    <div><label class="form-control-label">Grado:</label> {{ student.degree }}</div>
                    <div><label class="form-control-label">Carrera:</label> {{ `(${student.career.code}) ${student.career.name}` }}</div>
                    <div class="form-group">
                        <label class="form-control-label">Observacion Postulante:</label>
                        <textarea class="form-control" v-model="observation" disabled />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Observacion Proceso:</label>
                        <textarea class="form-control" v-model="observation_process" disabled/>
                    </div>
                </div>
            </div>
        </template>
    </base-form>
</template>

<script>
  export default {
    data() {
      return {
        student: {
          full_name: '',
          full_dni: '',
          degree: '',
          career: {
            code: '',
            name: ''
          }
        },
        observation_process: '',
        observation: '',
        date: ''
      }
    },
    created() {
      axios.get(api(`pending/${this.$route.params.id}`))
        .then(response => {
          this.student = response.data.student
          this.observation = response.data.observation
          this.date = response.data.date
          this.observation_process = response.data.observation_process
        })
    }
  }
</script>

<style scoped>

</style>
