<template>
    <crud-list url="pending"
               :columns="columns"
               :hide-actions="hide"
               :hide-create="true"
               :hide-edit="true"
               :hide-delete="true">

    </crud-list>
</template>

<script>
  export default {
    data() {
      return {
        hide: false,
        columns: [
          {
            label: 'Nombre',
            prop: 'student.full_name'
          },
          {
            label: 'Carrera',
            prop: 'student.career.name'
          },
          {
            label: 'Asociacion',
            prop: 'association.name'
          },
          {
            label: 'Estado',
            prop: 'status.name'
          }
        ]
      }
    },
    created() {
      axios.get(api('auth/user'))
        .then(response => {
          this.hide = response.data.preference.role_id > 2
        })
    }
  }
</script>

<style scoped>

</style>
