<template>
    <base-form v-loading="loading">
        <template v-if="valid">
            <template slot="header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mb-0">{{ $route.name }}</h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <button @click.prevent="send" class="btn btn-primary btn-sm">Postular</button>
                    </div>
                </div>
            </template>
            <template slot="body">
                <div class="row">
                    <div class="col">
                        <form-group label="Asociaciones"
                                    name="asociacion"
                                    :err="errors">
                            <el-select v-model="model.association_id"
                                       v-validate="'required'"
                                       name="asociacion"
                                       placeholder="Seleccione una asociacion"
                                       style="width: 100%">
                                <el-option v-for="it in asociaciones"
                                           :key="it.id"
                                           :label="it.name"
                                           :value="it.id"/>
                            </el-select>
                            <el-collapse v-model="active" v-if="description.length > 0">
                                <el-collapse-item title="Descripcion" name="1">
                                    <p>{{ description }}</p>
                                </el-collapse-item>
                                <el-collapse-item title="Miembros" name="2">
                                    <el-table border style="width: 100%" :data="members">
                                        <el-table-column label="Nombre" prop="full_name"/>
                                        <el-table-column label="Carrera" prop="career.name"/>
                                        <el-table-column label="Cargo" prop="preference.role.name"/>
                                    </el-table>
                                </el-collapse-item>
                            </el-collapse>
                        </form-group>
                        <form-group label="Observacion"
                                    :err="errors"
                                    name="observacion">
                            <textarea v-model="model.observation" class="form-control" />
                        </form-group>
                    </div>
                </div>
            </template>
        </template>
        <template v-else>
            <template slot="body">
                <div class="row col">
                    <h3>Ya no puedes realizar mas postulaciones</h3>
                </div>
            </template>
        </template>
    </base-form>
</template>

<script>
  export default {
    methods: {
      send() {
        this.$validator.validateAll()
          .then(res => {
            if (res) {
              swal({
                title: 'Solicitud',
                text: '¿Esta seguro que desea enviar la solicitud para unirse a la asociacion?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Enviar'
              }).then(value => {
                if (value) {
                  axios.post(api('members/request'), this.model)
                    .then(response => {
                      swal('Creacion', 'Solicitud enviada', 'success')
                        .then(resp => this.$router.push({path: `/requests/pending`}))
                    }).catch(error => swal('Error', error.response.data, 'error'))
                }
              }).catch(reason => {})
            }
          })
      }
    },
    watch: {
      'model.association_id'(value) {
        let asociacion = this.asociaciones.find(x => x.id === value)

        if (asociacion !== undefined) {
          this.description = asociacion.description
          this.members = asociacion.students
        }
      }
    },
    data() {
      return {
        loading: true,
        valid: false,
        active: '1',
        description: '',
        asociaciones: [],
        members: [],
        model: {
          association_id: null,
          observation: ''
        }
      }
    },
    created() {
      axios.get(api('members/valid'))
        .then(response => {
            this.valid = true
            this.loading = false
        }).catch(error => {
            this.valid = false
            this.loading = false
      })

      axios.get(api('asociacion/active'))
        .then(response => {
          this.asociaciones = response.data
        })
    }
  }
</script>

<style scoped>

</style>
