<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-12">
                    <button @click="$router.go(-1)" class="btn btn-primary btn-sm"><i class="ni ni-bold-left"></i></button>
                </div>
            </div>
        </template>
        <template slot="body">
            <div class="row">
                <div class="col-md-12">
                    <div><label for="" class="form-control-label">Fecha:</label> {{ date }}</div>
                    <div><label class="form-control-label">Nombre:</label> {{ student.full_name }}</div>
                    <div><label class="form-control-label">Rut:</label> {{ student.full_dni }}</div>
                    <div><label class="form-control-label">Grado:</label> {{ student.degree }}</div>
                    <div><label class="form-control-label">Carrera:</label> {{ `(${student.career.code}) ${student.career.name}` }}</div>
                    <div class="form-group">
                        <label class="form-control-label">Observacion Postulante:</label>
                        <textarea class="form-control" v-model="observation" disabled />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Observacion Proceso:</label>
                        <textarea class="form-control" v-model="model.observation_process" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button @click.prevent="process(true)" class="btn btn-success">Aceptar</button>
                    <button @click.prevent="process(false)" class="btn btn-danger">Rechazar</button>
                </div>
            </div>
        </template>
    </base-form>
</template>

<script>
  export default {
    data() {
      return {
        model: {
          observation_process: ''
        },
        student: {
          full_name: '',
          full_dni: '',
          degree: '',
          career: {
            code: '',
            name: ''
          }
        },
        observation: '',
        date: ''
      }
    },
    methods: {
      process(resolve) {
        swal({
          title: 'Solicitud',
          text: `¿Esta seguro que desea ${resolve ? 'aprobar' : 'rechazar'} esta solicitud?`,
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Procesar'
        }).then(value => {
          if (value) {
            axios.post(api(`pending/${this.$route.params.id}`), {
              resolve,
              observation_process: this.model.observation_process
            }).then(response => {
              swal('Solicitud', 'Solicitud procesada correctamente', 'success')
                .then(resp => this.$router.push({path: `/requests/pending`}))
            }).catch(error => swal('Error', JSON.stringify(error.response.data), 'error'))
          }
        }).catch(reason => {})
      }
    },
    created() {
      axios.get(api(`pending/${this.$route.params.id}`))
        .then(response => {
          this.student = response.data.student
          this.observation = response.data.observation
          this.date = response.data.date
        })
    }
  }
</script>

<style scoped>

</style>
