<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Admin Editar Renovación</h3>
                </div>
                <div class="col-md-6 text-right">
                <button class="btn btn-primary btn-sm" @click='enviar'>Actualizar</button>
                </div>
            </div>
        </template>
        <template slot='body'>
          <div class='row'>
            <div class='col'>
                <div class='form-group'>
                  <label class='form-control-label'>Asociacion: </label>
                  <input class="form-control" type="text" v-model='model.name' readonly>
                </div>
            </div>
          </div> 

          <div class="form-group">
                    <label class='form-control-label' name='' >Estados: </label>
                    <el-select v-model='model.status_id' style='width:100%' placeholder='Seleccione el estado'>
                    <el-option v-for='estado in estados'
                    :key='estado.id'
                    :label='estado.name'
                    :value='estado.id'
                  />

                </el-select>
                </div>

          <div class='row'>
            <div class='col'>
                <div class='form-group'>
                    <p class="card-text"><small class="text-muted">Si elige la opción Falta documentación o Rechazada, agregar el motivo de esta .</small></p>
                </div>
                <div class='form-group'>
                  <label class='form-control-label' name=''>Observación: </label>
                  <textarea v-model='model.observation' class='form-control' rows="10" cols="50" placeholder='Escribir observación aqui'></textarea>
                </div>

            </div>
          </div>
      </template>
    </base-form>
</template>

<script>
export default {
  methods:{
      enviar(){
        axios.put(api("adminrenovaciones/"+this.$route.params.idar), this.model )
          .then(response => {
              swal('Resultado',response.data.alerta,'success')
                .then(response => {
                    this.$router.push({path: '/adminrenovaciones/index'})
                })
          })
      }

    },
    data(){
        return {
            model: {
                association_id:'',
                observation: '',
                name:'',
                status_id:''
            } ,
            estados: [] 
        }
        
    },

    created() {

    axios.get(api("status"))
      .then(response => {
        this.estados = response.data.filter(x => x.id === 5 || x.id === 6 || x.id === 7 )
      })  

    axios.get(api("adminrenovaciones/"+this.$route.params.idar))
      .then(response => {
        this.model.association_id = response.data.association_id
        this.model.name = response.data.association.name
        
      })
  }
}
</script>
