<template>
    <base-form>
      <template slot='header'>
        <div class='row'>
          <div class='col-md-6'>
            <h3>Sección Denuncias</h3>
          </div>
          <div class='col-md-6 text-right'>
            <button class="btn btn-primary btn-sm" @click='enviar'>Registrar</button>  
          </div>
        </div>
      </template>

      <template slot='body'>
          <div class='row'>
            <div class='col'>
                <div class='form-group'>
                  <label class='form-control-label' name='' >Asociacion: </label>
                  <el-select v-model='model.association_id' style='width:100%' placeholder='Seleccione la asociación'>
                    <el-option v-for='asociacion in asociaciones'
                    :key='asociacion.id'
                    :label='asociacion.name'
                    :value='asociacion.id'
                    />
                  </el-select>
                </div>
              </div>
            </div>  
          <div class='row'>
            <div class='col'>
              <div class='form-group'>
                <label class='form-control-label'>Archivo: </label>
                <input id="files"
                 name="documento"
                 type="file"
                 accept=".pdf,.doc,.docx"
                 @change="selectFile">

                 <br><label class='form-control-label'>Formatos aceptados: .pdf .doc .docx </label>
              </div>


            </div>
          </div>
          
      </template>

    </base-form>
</template>

<script>
  export default {
    methods:{
      selectFile(e){
        this.documento = e.target.files[0];
      },
      enviar(e){
        e.preventDefault();
        let currentObj = this;

        const config = { headers: { 'Content-Type': 'multipart/form-data' } };

        let formData = new FormData();
        formData.append('documento', this.documento);
        formData.append('association_id', this.model.association_id);

      //  if(this.model.association_id == '')
      //  {
      //    swal('Resultado','Debe seleccionar la asociación','warning')
      //    return
      //  }
        axios.post(api('renovaciones'), formData ,config)
          .then(response => {
              swal('Resultado',response.data.alerta,'success')
           //   .then(response => {
           //         this.$router.push({path: '/renovaciones/index'})
                      //     })
          })
      }

    },

    data(){
      return {
        model:{
          association_id:''
        },
        asociaciones:[]
      }
    },
    created() {
      axios.get(api('asociacion')) 
        .then(response => this.asociaciones = response.data)
    }
  }
</script>


<style scoped>

</style>