<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Sección Renovación | Reanovaciones realizadas</h3>
                </div>
                <div class="col-md-6 text-right">
                    <router-link to="index/create" class="btn btn-primary btn-sm" >
                        Registrar
                    </router-link>
                </div>
            </div>
        </template>
        <template slot="body">
        <div class="row">
            <div class="col">
                <el-table style="width: 100% border" :data="renovaciones">
                    <el-table-column label="Asociacion" prop="association.name" />
                    <el-table-column label="Estado" prop="status.name" />
                    <el-table-column label="Tipo" prop="type.name" />
                    <el-table-column label="Fecha de Creación" prop="created_at" />
                    <slot name="actions">
                        <el-table-column label="Acciones">
                        <template slot-scope="scope">
                            <router-link :to='"show/"+scope.row.id' class="btn btn-primary btn-sm" >
                                <i class="el-icon-view"></i>
                            </router-link>
                            <router-link :to='"edit/"+scope.row.id+""' class="btn btn-success btn-sm" >
                                <i class="el-icon-edit"></i>
                            </router-link>
                        </template>
                            
                        </el-table-column>
                    </slot>
                </el-table>
            </div>
        </div>
            
        </template>
    </base-form>
</template>

<script>
export default {
    
    data(){
        return {
            renovaciones: []
        }
    },

    created(){
        axios.get(api("adminrenovaciones"))
            .then(response => {
                this.renovaciones = response.data
            })
    }
}
</script>