<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                    <h3>Seccion de Fondos</h3>
                </div>
                <div class="col-md-6 text-right">
                <button class="btn btn-primary btn-sm" @click='enviar'>Registrar</button>
                </div>
            </div>
        </template>
        <template slot="body">
        <div class="row">
       <!--     <div class="col">
                <div class="form-group">
                    <label class='form-control-label' name='' >Asociaciones: </label>
                    
                <input class="form-control" type="text" v-model='this.model.association_id' readonly>
                </div>
            </div>-->
        </div>
       <div class='form-group'>
                    <p class="card-text"><small class="text-muted">Si tiene alguna observacion anotarla abajo de la descripcion enviada</small></p>
                </div>
        <div class='row'>
            <div class='col'>
                <div class='form-group'>
                  <label class='form-control-label' name=''>Descripción: </label>
                  <textarea v-model='model.observation' class='form-control' rows="10" cols="20" placeholder='Escribir solicitud aqui...'></textarea>
                </div>

            </div>
          </div>
                   
    </div>
  <!--  <div class="row justify-content-around">
<div class="block">
    <span class="demonstration">Fecha inicio:</span>
    <el-date-picker
      v-model="model.start_date"
      type="datetime"
      name="start_date"
      placeholder="Selecciona hora y fecha...">
    </el-date-picker>
  </div>

  <div class="block">
    <span class="demonstration">Fecha Termino:</span>
    <el-date-picker
      v-model="model.end_date"
      type="datetime"
      name="end_date"
      placeholder="Selecciona hora y fecha...">
    </el-date-picker>
  </div>
    </div> -->
<br>
 <div class='form-group'>
                    <p class="card-text"><small class="text-muted">Si cambia el monto anotar en la descripcion</small></p>
                </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class='form-control-label' name=''>Monto: </label>
                <input class="form-control" type="text" v-model="model.amount" placeholder="Ingrese Monto...">
            </div>
        </div>
        
        
    </div>    

      <div class="form-group">
                    <label class='form-control-label' name='' >Estado: </label>
                    <el-select v-model='model.status_id' style='width:100%' placeholder='Seleccione el estado...'>
                    <el-option v-for='estado in estados'
                    :key='estado.id'
                    :label='estado.name'
                    :value='estado.id'
                  />

                </el-select>
                </div>

        </template>
    </base-form>
</template>

<script>


export default {
    methods:{
      enviar(){       
        axios.put(api('fondo/'+this.$route.params.id), this.model)
          .then(response => {
              swal('Solicitud Enviada',response.data.alerta,'success')
              .then(response => {
                    this.$router.push({path: '/adminfondos/index'})
                })

          })
      }

    },
    data(){
        return {
             model:{
                association_id: '',
                observation: '',
                start_date: '',
                end_date: '',
                amount: '',
                status_id: ''
            },
            pickerOptions: {
          shortcuts: [{
            text: 'Today',
            onClick(picker) {
              picker.$emit('pick', new Date());
            }
          }, {
            text: 'Yesterday',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit('pick', date);
            }
          }, {
            text: 'A week ago',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', date);
            }
          }]
        },
    
        
          estados: []
                       
        }
    },

    created(){
        axios.get(api("status"))
            .then(response => {
                this.estados = response.data
            })

        axios.get(api("fondo/"+this.$route.params.id))
            .then(response => {
                this.model.association_id = response.data.association_id
                this.model.amount = response.data.amount
                this.model.observation = response.data.observation
                this.model.status_id = response.data.status_id 
            })
    }
}
</script>
