<template>
    <base-form>
        <template slot="header">
            <div class="row">
                <div class="col-md-6">
                <h3>Detalles</h3>
                </div>
            </div>
        </template>
         <template slot="body">
        <div class="row">
            <div class="col">
                <div><label class="form-control-label">Asociacion:</label> {{ association_id }}</div>
                <div><label class="form-control-label">Descripcion:</label> {{ observation }}</div>
                <div><label class="form-control-label">Estado:</label> {{ status_id }}</div>
                <div><label class="form-control-label">Tipo:</label> {{ type_id }}</div>
                <div><label class="form-control-label">Monto:</label> ${{ amount }}</div>
                <div><label class="form-control-label">Creado:</label> {{ created_at }}</div>
                <div><label class="form-control-label">Actualizado:</label> {{ updated_at }}</div>
            </div>
        </div>
            
        </template>
    </base-form>
</template>

<script>

export default {
  data() {
    return {
      association_id: '',
      observation: '',
      status_id: '',
      type_id: '',
      amount: '',
      created_at: '',
      updated_at: ''

    }
  },
  created() {
    axios.get(api("fondo/"+this.$route.params.id))
      .then(response => {
        this.association_id = response.data.association.name
        this.observation = response.data.observation
        this.status_id = response.data.status.name
        this.type_id = response.data.type.name
        this.amount = response.data.amount
        this.created_at = response.data.created_at
        this.updated_at = response.data.updated_at
      })
  }
}
</script>